@charset "utf-8";

h1, h2, h3, h4, h5, h6 { text-align: left }
h1, h2, h3, h4, h5, h6 span.titlesub { color: #005A9C }
h1 { font: 170% sans-serif; padding-bottom: 2em; }
span.titlesub {font: 80% sans-serif;}
h2 { font: 140% sans-serif; padding-top: 1em; border-bottom: 1px solid #005A9C }
h3 { font: 120% sans-serif; padding-top: 0.7em; }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

body {
  margin-top: 3em;
  margin-left: 5em; 
  margin-right:3em;
  margin-bottom:2em;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

code {
	color: #660099; font-family: monospace; font-size: 115%; font-weight: bold; vertical-align: middle
}

.ednote {
	color: red; font-size: 80%; font-style: italic; 
}

.alert {
	border: 2px solid red;
	padding: 0.5em;
}

div.footer {
  margin-top:4em;
  font-size: 40%;
  border-top: 1px solid #005A9C;
}

div.footer * {
  color: #005A9C  
}

*.RFC2119 {
    font-style:italic;
    font-size: 80%;
}

/* jpritchett@rfbd.org, 25 Mar 2009:  Inserted table styles from our dtbook CSS */
table {border: 2px solid gray; padding: 1em; margin-top: 1.5em; margin-bottom: 2em;}
th {border: 1px solid rgb(0,90,156); font-weight: bold; padding: 0.5em; font-weight:bold; color: rgb(0,90,156); font-size:90%}
td {border: 1px solid rgb(0,90,156); padding: 0.5em; text-align: left}
td *, td > * {text-align: left;}
/* mg some mods for the abstract definition sections in spec and RDs */
table, tbody {padding:0;}
table {margin-top: 0.3em;}
caption{text-align:left; font-size: 90%}
p.prime-def {margin-bottom:2em}

div.abstract div.address {
    margin-left: -4.75em;
}

span.personname + span.orgname, span.orgname + span.personname, span.personname + span.personname, span.title + span.orgname  {
    display: block;
}

/******* rd ********/

div.rd-section {
	/* border: 1px solid rgb(230,230,230); */
	padding: 0.2em;
	margin: 0.2em;
}
 
/******* vocab ********/

/* indent the vocabulary sublists */
div.vocabulary dl>dl {margin-left: 3.5%;}
/* more spacing around the description */
div.vocabulary *[property="rdfs:comment"] {margin-bottom: 1%;}
/* more spacing around each vocab item*/
div.vocabulary dl {margin-bottom: 2%;}

div.vocabulary dt {font-weight:bolder}

p.vocab-date {font-style:italic; font-size: 90%}

/* programlisting */
pre
{
  /* non-proportional font */
  /* list of fonts provides fallbacks if a font is not present */
	font-family: "Courier New", Courier, Monospace;

	/* color: black */
	color: #000;

  /* background color: gray */
  background-color: #eee;

	/* no margin */
	margin: 0;

	/* gray dotted border, 1 px wide */
	border: 1px dotted #ddd;

  /* padding ("inner margin") settings are top - right - bottom - left */
  /* (think clockwise)                                                 */
	padding: 6px 6px 6px 6px;
}