/* rng-doc.css */
body {
    font-family:arial, helvetica, sans-serif;
    margin:0 10% 0 10%;
}
/* GENERAL */
a {
    text-decoration:none;
    color:rgb(0,0,220);
}
a:hover {
    text-decoration:underline;
}
*.attribute {
    font-family:monospace;
    color:rgb(120,70,20);
}
*.element {
    font-family:monospace;
    color:rgb(20,70,180);
}
*.namespace {
    font-family:monospace;
    color:rgb(120,70,180);
}
*.markup {
    font-family:courier, fixed, monospace;
    color:rgb(180,0,0);
}
table {
    border-collapse:collapse;
    margin-bottom:1em;
    width:100%;
}
td, th {
    padding-left:2mm;
}
/* ELEMENT TOC */
div.element-toc a.element {
    display:inline-block;
    color:rgb(180,0,0);
    background-color:rgb(240,240,220);
    padding:2pt;
    margin:2pt 1pt 0 0;
    text-align:center;
    border:3pt solid rgb(170,170,200);
    text-decoration:none;
}
div.element-toc a.element:hover {
    background-color:rgb(240,240,250);
    border:outset;
}
div.element-toc a.element {
    width:8em;
}

/* LOCAL ELEMENT TOC */
ul.element-toc {
    font-size:70%;
    float:right;
    width:200pt;
    margin:0mm;
    padding:1mm;
    background-color:rgb(230,230,230);border:3pt outset rgb(200,200,200);
    }
ul.element-toc a {
    color:rgb(150,150,150);}
ul.element-toc a:hover {
color:rgb(80,80,80);
}
 
li.h2 {
    margin-left:2em;
    }
li.h3 {
    margin-left:4em;
    }
li.h4 {
    margin-left:6em;
    }
/* DUPLICATED ELEMENTS */
ol, ul {
    list-style-type:square;
    /*list-style-position:inside;*/
}
ul a {
    color:rgb(100,100,100);
    }
ul a:hover {
    text-decoration:none;
}
/* ELEMENT INFORMATION */
div.elementInformation {
    border:1pt solid rgb(230,230,230);
    padding-left:2mm;
    margin-bottom:3em;
}
div.element-coreinfo h2 {
    margin:0.5em 0 0 0;
    padding:0;
}
div.element-coreinfo p {
    margin:0;
    padding:0;
}
div.element-coreinfo p {
/* border:1pt solid rgb(230,230,230); */
}
div.element-coreinfo h2 {
    font-size:100%;
}
/* RNG SYNTAX (CONTENT MODELS */
div.rng {
    border-left:1pt solid rgb(220,220,220);
    padding-left:1mm;
    clear:both;
}
div.rng-content {
    margin-left:2em;
    margin-bottom:1mm;
}
span.rng {
    color:rgb(160,160,160);
}
*.rng-value-token {
    font-family:courier, fixed, monospace;
    color:rgb(10,130,20);
}
*.rng-value-string {
    font-family:courier, fixed, monospace;
    color:rgb(150,130,160);
}
*.rng-pattern {
    font-family:courier, fixed, monospace;
    color:rgb(130,50,50);
}
*.rng-datatype {
    color:rgb(110,90,100);
}
/* ELEMENT DOC PROSE */
div.element-docprose {
    padding:2em;
    font-family:bookman, 'times new roman', times, serif;
}
div.element-docprose h2 {
    font-size:120%;
    margin-top:1em;
}
div.element-docprose h3 {
    margin-top:0.6em;
    font-size:100%;
}
pre {
    color:rgb(180,0,0);
    border:1pt solid rgb(230,230,230);
    background-color:rgb(240,250,250);
    padding:0.6em;
    margin:1em 0 1em 0;
}
/* ATTRIBUTES */
table.attributes {
    font-size:90%;
    border:1pt solid rgb(230,230,230);
}
table.attributes th {
    background-color:rgb(230,230,230);
}
tr.optional, tr.required {
    padding-top:0.5em;
}
tr.optional, tr.attribdoc-optional {
    background-color:rgb(255,255,250);
}
tr.required, tr.attribdoc-required {
    background-color:rgb(255,245,245);
}

/* NAVIGATION BOX */

div.nav-box {
    background-color:rgb(230,230,230);
    height:2.5em;
    position:relative;
    border:3pt outset rgb(200,200,200);
    /*border-bottom:1pt solid rgb(200,200,200);*/
    font-size:small;
    }
a.previous-element, a.toc-link, a.next-element {
/*    border:1pt solid red;*/
    display:block;
    width:150pt;
    position:absolute;
    padding-top:0.5em;
    color:rgb(150,150,150);
    }
a.previous-element {
    padding-left:1em;
    }
a.next-element {
    right:0mm;
    top:0mm;
    text-align:right;
    padding-right:1em;
    }
a.toc-link {
    left:200pt;
    right:200pt;
    width:auto;
    text-align:center;
    }
a.previous-element:hover, a.toc-link:hover, a.next-element:hover {
    text-decoration:none;
    color:rgb(80,80,80);
    }